.wrapper {
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #eceff1;
    padding: 0 30px;
}

.logo {
    height: 60px;
    width: 100%;
    display: flex;

    h1 {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
}

.menu {
    height: 25px;
}
.icon {
    color: red;
}
.sub-menu {
    position: relative;
    cursor: pointer;

    > ul {
        top: 25px;
        height: 0;
        position: absolute;
        overflow: hidden;
        transition: height ease 0.3s;
        z-index: 1;

        > li {
            min-width: max-content;

            &:hover {
                background-color: #eee;
            }
        }
    }

    &:hover > ul {
        height: max-content;
    }
}
.actions {
    display: flex;
    width: 100%;
}

.modal-wrapper {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    &.show {
        display: flex;
    }
}

.modal-inner {
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    text-align: center;
    padding: 20px 40px;
    position: relative;
    .cancel {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}
.user_controller {
    position: relative;
    .menu_controller {
        position: absolute;
        width: 200px;
        height: 200px;

        z-index: 1;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
        .c_profile {
            display: flex;
            h1 {
                margin-left: 10px;
                font-size: 15px;
            }
        }
    }
}

.loading {
    opacity: 0.7;
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.register {
    display: flex;
    font-size: 16px;
    padding-top: 3px;
    span {
        font-size: 15px;
        margin-left: 10px;
    }
}
.user_avatar {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}
.search {
    height: 100%;
    display: flex;
}
