<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% block title %} {% endblock %}

    {% block css %} {% endblock %}
    {% block script %} {% endblock %}


</head>
<body>
      {% block header %}
        {% include 'layout/header.html' %}
      {% endblock %}
      {% block content %}
      {% endblock %}

      {% block footer %}
        {% include 'layout/footer.html' %}
      {% endblock %}

</body>
</html>