<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="div" style="display:flex; justify-content:center; flex-direction:column; align-items:center"><h1>Welcome To Code Heroes Backend side</h1>
		<h2>
			This is the server that provides our RESTful API. To experience the service please visit the frontend page at: <a style="color:red" href="https://hethongphapluatcodeheroes.netlify.app/">Tại đây</a> </h2></div>
</body>
</html>