{% extends 'layout/base.html' %}

{% block title %} Trang chu {% endblock %}
{% block css %}
 <link href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet">
{% endblock %}

{% block content %}
<section id="content">
		<!-- NAVBAR -->

		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Chào <span style="color:red; font-weight:800">{{user.name}} </span></h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Thống kê dữ liệu học tập</a></li>
			</ul>
			<div class="info-data">
				<div class="card">
					<div class="head">
						<div>
							<h2></h2>
							<p>Điểm hệ 10</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value="1%"></span>
					<span class="label"></span>
				</div>

				<div class="card">
					<div class="head">
						<div>
							<h2></h2>
							<p>Điểm trung bình (hệ 4)</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value=""></span>
					<span class="label"></span>
				</div>
				<div class="card">
					<div class="head">
						<div>
							<h2></h2>
							<p>Điểm rèn luyện</p>
						</div>
						<i class='bx bx-trending-up icon' ></i>
					</div>
					<span class="progress" data-value=""></span>
					<span class="label"></span>
				</div>
			</div>
			<div class="data">
				<div class="content-data">
					<div class="head">
						<h3>Thống kê điểm</h3>
						<div class="menu">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li>
							</ul>
						</div>
					</div>
					<div class="chart">
						<div id="chart">
						  <canvas id="myChart"></canvas>

						</div>
					</div>
				</div>
				<div class="content-data">
					<div class="head">
						<h3>Cảnh báo học tập</h3>
						<div class="menu">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li>
							</ul>
						</div>
					</div>
					<div class="chat-box">
						<div>Cảnh báo học tập</div>
						<canvas id="myChart2"></canvas>
					</div>

				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

</script>
{% endblock %}

