{% extends 'layout/base.html' %}

{% block title %} Trang chu {% endblock %}
{% block css %}
 <link href="{{ url_for('static', filename='css/register.css') }}"
      rel="stylesheet"/>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block content %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <h2 class="" style="width:92%;padding:10px; display:flex; justify-content:center; background:#e68a00; font-size:25px">Đăng ký</h2>
    <div class="col-lg-11 well">
        <div class="row-10">
            <form method="post" enctype="multipart/form-data" action="/register">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>First Name</label>
                            <input name="firstname" type="text" placeholder="Enter First Name Here.."
                                   class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Last Name</label>
                            <input name="name" type="text" placeholder="Enter Last Name Here.."
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea name="diachi" placeholder="Enter Address Here.." rows="3"
                                  class="form-control"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Giới tính</label>
                            <select name="sex" class="col-sm-12 text-secondary p-2">
                                <option value="1" selected>Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Ngày sinh</label>
                            <input name="dob" type="date" placeholder="Enter Birthday Here.." class="form-control">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Facebook</label>
                            <input name="facebook" type="text" placeholder="Enter link Facebook Here.."
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input name="email" type="email" placeholder="Enter Email Address Here.." class="form-control">
                    </div>
                     <div class="form-group">
                        <label>Username</label>
                        <input name="username" type="text" placeholder="Enter Email Address Here.." class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Mật khẩu </label>
                            <input name="password" type="password" placeholder="Enter Designation Here.."
                                   class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label style="color:red">Xác nhận mật khẩu</label>
                            <input name="confirm" type="password" placeholder="Enter Company Name Here.."
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input name="phone" type="text" placeholder="Enter Phone Number Here.." class="form-control">
                    </div>
                     <div class="form-group">
                        <label>Home town</label>
                        <input name="hometown" type="text" placeholder="Enter Home Town Here.." class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Avatar</label>
                        <input name="avatar" type="file" placeholder="Enter Website Name Here.." class="form-control">
                    </div>
                    <button type="submit" class="btn btn-lg btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

